.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: midnightblue;
}

.App-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 25rem;
  height: 28rem;
  background-color: white;
  border-radius: 15px;
}
button{
  width: 13.5rem;
}
input{
  margin-bottom: 1rem;
}
h3{
  margin-bottom: 4rem;
}