[submodule "react-login-client"]
	path = client
	url = https://github.com/ricardoimagure/react-login-client.git
[submodule "node-login-server"]
	path = server
	url = https://github.com/ricardoimagure/node-login-server.git
